
body,h1,h2,h3,h4,h5,h6{
	font-family: 'Quicksand', sans-serif;
}

.col-md-6.home.about {
	margin-top: 25px;
}

.col-md-6.home.about h1{
font-size: 36px;
margin:0px !important;
font-weight: 400;
}
.col-md-6.home.about h2{
font-size: 22px;
margin:10px 0 !important;
font-weight: 100;
}
.col-md-6.home.about h3{
font-size: 24px;
opacity: 0.7;
margin:10px 0  !important;
}


.main-blog{
	background-color: #F2F2F2;
	}
	.fixed{
		position: fixed;
	width: 100%;
	background-color: #fff;
	z-index:1;
	}

.home-section{
	height:600px;
	background-color: #F2F2F2; 

}
.home-hero{
	margin:200px 0 150px 0!important;
}

.site-title h3{
	margin: 0;
	margin-right:10px;
}
.nav1 ul{
	padding:0 !important;
	margin:5px;
}
.nav1 li{
display: inline-block;
font-size: 14px;
padding: 10px 10px 10px 0;
font-family: 'Quicksand', sans-serif;
}
.nav1 li a{
text-decoration: none;
color:grey;
}
.nav1 li a:hover{
text-decoration: none;
color:black;
border-bottom: 1px solid black;
}
.nav1 li a:active{
color:grey;
border-bottom: 1px solid black;
}
.text{
color:#484947;
font-size:25px;
text-align: right;
padding-top:10px;
font-family: 'Quicksand', sans-serif;

}

#round{
	height: 200px;
	width: 200px;
	border-radius: 200px;
}
.middle{
	margin-top: 27px;
}
	.college{
	border: 1px solid grey;
	height: 200px;
	width: 100%;
	color: grey;
	padding: 10px;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 3px;
}


.border{
padding: 10%;

}
.edu{
	background-color: #484947;
}
.college h4::after{
	display: block;
	width: 85px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
}
.about{
	padding: 0 0 0 60px !important;
}
.heading{
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
}
.college{
	border: 1px solid grey;
	height: 200px;
	color: grey;
	padding: 10px;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 3px;
}
.border{
padding: 10%;

}
.top-head h1{
color: grey;

}
.edu{
	background-color: #484947;
}
.edu h1{
 color:#484947;
 font-size: 25px;
 margin:0px;
 font-weight: 400;
}
.edu h2{
font-size: 20px;
margin:10px 0;
font-weight: 400;
}
.edu h3{
font-size: 18px;
opacity: 1.7;
margin:10px 0;
}
.master{
	padding: 10% !important;
}
.main{
	background-color: #F2F2F2;
	/*height: 600px;*/
	
}
.master h1{

}
.technical h2{
	font-size: 22px !important;
	font-weight:400;
	color:#484947;
}
.technical h3{
	font-size: 18px !important;
	color:#333333;
}
.technical {
	color: grey;
	font-family: 'Quicksand', sans-serif;
}
.tech-head h1::after{
	display: block;
	width: 100px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
.logos>div{
	margin-bottom: 10px;
	margin-top: 10px;
}
.master1{
	padding: 10% !important;
}
.main1{
	background-color: #484947;
	
}
.number h1{
	color: #B9B9B9;
    font-size: 36px;
}

.text1 h1{
	color: #B9B9B9;
    font-size: 36px;
    opacity: 0.8;

}
.text1 p{
	color: #B9B9B9;
    font-size: 22px;
    opacity: 0.8;

}
.size{
	font-weight: bold;
	font-size: 25px;
}
.text1 h1::after{
	display: block;
	width: 100px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
.master2{
	padding: 10% !important;
}
.main2{
	background-color: #F2F2F2;
}
.noPadding{
	padding:0;
}

.text2 h1{
	color: #B9B9B9;
    font-size: 36px;
    opacity: 0.8;

}
.text2 p{
	color: #B9B9B9;
    font-size: 22px;
    opacity: 0.8;
}
.size{
	font-weight: bold;
	font-size: 25px;
	opacity: 0.8;
}
.text2 h1::after{
	display: block;
	width: 100px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
.content h1{
font-size: 36px !important;
}
.content h5{
font-size: 22px !important;
}

.content p{
font-size: 18px !important;
}
.content{
font-family: 'Quicksand', sans-serif;
}
.master3{
	padding: 10% !important;
}
.main3{
	background-color: #484947;
	
}
.title1 h1::after{
	display: block;
	width: 100px;
	height: 3px;
	margin-top: 10px;
	background-color: grey;
	content: "";
}
.master4{
	padding: 15px !important;
}
.main4{
	background-color: #F2F2F2;
	
}
.message{
	text-align: center;
}
.padding{
	padding: 10px;
}
.padding a{
	padding:5px;
	color:black;

}
.message a:hover{
	text-decoration: none;
	color: blue;
}

